* {
  box-sizing: border-box;
}

h2,
p {
  margin: 0;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
}

ul,
ol {
  list-style: none;
  margin: 0;
  padding-left: 0;
}

body {
  margin: 24px 156px;
  width: 1440px;
  height: 696px;
}
.gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 24px;
  max-width: 1128px;
}

.gallery-item {
  width: calc((100% - 48px) / 3);
}

.gallery-item :hover {
  cursor: url("/Vector.svg"), pointer;
  transform: scale(1.04);
}

.gallery-image {
  width: 360px;
  height: 200px;
}
